/*-*- mode: css; -*-*/
/*
 *
 * Author : Aditya Shakya (adi1090x)
 * Mail : adi1090x@gmail.com
 * Github : @adi1090x
 * Reddit : @adi1090x
 *
 */


configuration {
    font:                           "VictorMono Nerd Font 30.0";
}
@import "/home/chris/.dotfiles/rofi/launchers-git/blurry.rasi"
