[submodule "nice"]
	path = awesome/nice
	url = https://github.com/mut-ex/awesome-wm-nice.git
[submodule "awesomestarter"]
	path = awesomestarter
	url = https://gitlab.com/bloxiebird/linux-awesomewm-modular-starter-kit.git
[submodule "awesomeshrt"]
	path = awesomeshrt
	url = https://github.com/shtwzrd/awesome-wm-config.git
[submodule "emacs-native-comp-git-enhanced"]
	path = emacs-native-comp-git-enhanced
	url = https://aur.archlinux.org/emacs-native-comp-git-enhanced
